@model IEnumerable<Firma.Data.Data.CMS.Posilki>

@{
    ViewData["Title"] = "Posilki";
}

<div class="meals container margin-top" style="display: flex; flex-direction: column;">
    <div class="carousel carousel-slider center" style="width: 900px; height: 700px; align-self: center; margin: 50px 0;">
        @foreach (var item in Model)
        {
            <a class="carousel-item black-text" href="#one!">
                <img src=@item.UrlZdjecia>
                <h2>@item.NazwaPolska</h2>
                <h6>@item.NazwaAngielska</h6>
            </a>
        }
    </div>
</div>

