@{
    ViewData["Title"] = "Biznes";
}

<div class="landing-page business">
    <div class="hero">
        <div class="hero-text"><p>Oferta<br />konferencyjna</p></div>
        <div class="container center hero-button">
            <a class="waves-effect waves-light btn-large"><i class="material-icons right">chevron_right</i>Zarezerwuj salę</a>
        </div>
    </div>
</div>

<div class="container welcome-text">
    <h5 class="center">
        Na najwyższym poziomie
    </h5>
    <div class="row center">
        Nowoczesny kompleks wypoczynkowy Hotel Skalny w Zakopanem dostarcza najlepsze rozwiązania na konferencje, spotkania biznesowe oraz zjazdy branżowe. Dysponujemy dużymi oraz mniejszymi pomieszczeniami, w których można dowolnie komponować układ krzeseł - optymalnie pod kątem ilości uczestników oraz charakteru spotkania.
    </div>
</div>

<div class="container center row margin-top">
    <div class="col s12 m4">
        <i class="large material-icons red-text text-accent-4">record_voice_over</i>
        <p>
            13 SAL
            KONFERENCYJNYCH
        </p>
    </div>
    <div class="col s12 m4">
        <i class="large material-icons red-text text-accent-4">group</i>
        <p>
            DO 1150
            UCZESTNIKÓW
        </p>
    </div>
    <div class="col s12 m4">
        <i class="large material-icons red-text text-accent-4 ">directions_car</i>
        <p>
            400 MIEJSC
            PARKINGOWYCH
        </p>
    </div>
</div>

<div class="container welcome-text margin-top">
    <h5 class="center">
        Wyposażenie
    </h5>
    <div class="center">
        <ul>
            <li>nagłośnienie</li>
            <li>mikrofony</li>
            <li>klimatyzacja</li>
            <li>projektor multimedialny</li>
            <li>ekran</li>
            <li>flipchart</li>
            <li>Internet LAN i WiFi</li>
        </ul>
    </div>
</div>

<div class="container center margin-top" style="margin-bottom: 100px;">
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">chevron_right</i>Zarezerwuj salę</a>
</div>
