@{
    ViewData["Title"] = "Strona główna";
}

<div class="landing-page home">
    <div class="hero">
        <div class="hero-text"><p>Zauroczeni<br />Tobą</p></div>
        <div class="container center hero-button">
            <a class="waves-effect waves-light btn-large"><i class="material-icons right">chevron_right</i>Odwiedź nas</a>
        </div>
    </div>
</div>

<div class="container welcome-text">
    <h5 class="center">
        Hotel z nowoczesnym wnętrzem
    </h5>

    <div class="row center">
        Usytuowany na słonecznym zboczu Polany Szymoszkowej daje nieograniczone możliwości aktywnego wypoczynku i niespiesznego relaksu. Jako jedyny hotel w Zakopanem znajduje się bezpośrednio przy stacji narciarskiej i sezonowym kąpielisku geotermalnym.
    </div>
</div>

<div class="main container margin-top">
    <div class="col s12 m7 cards row">
        <div class="card horizontal">
            <div class="card-image" style="width: 50%;">
                <img src="~/images/pokoj.jpg" style="width: 100%;">
            </div>
            <div class="card-stacked">
                <div class="card-content center-align">
                    <h4 class="header">Pokoje z widokiem</h4>
                    <p>Dla naszych gości przygotowaliśmy 288 komfortowych i przytulnych pokoi. Zaprojektowane zostały z myślą o rodzinnym wypoczynku w hotelu w Zakopanem oraz potrzebach gości biznesowych.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col s12 m7 cards row">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content center-align">
                    <h4 class="header">Spa i baseny</h4>
                    <p>Dwie niezależne przestrzenie: strefa aqua i strefa relaksu oraz luksusowe Spa z ofertą specjalistycznych zabiegów i masaży z widokiem na majestatyczny Giewont. </p>
                </div>
            </div>
            <div class="card-image" style="width: 50%;">
                <img src="~/images/spa.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
    <div class="col s12 m7 cards row">
        <div class="card horizontal">
            <div class="card-image" style="width: 50%;">
                <img src="~/images/restauracja.jpg" style="width: 100%;">
            </div>
            <div class="card-stacked">
                <div class="card-content center-align">
                    <h4 class="header">Wyborna kuchnia</h4>
                    <p>W hotelu czekają 3 doskonałe restauracje. Każda utrzymana jest w odmiennym stylu, a łączy je kunszt kucharzy i wyborny smak potraw. </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container center margin-top" style="margin-bottom: 100px;">
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">chevron_right</i>Zarezerwuj pobyt</a>
</div>
